<h1>Patterns#builder</h1>


<p>Ford Car</p>
<p>Wheels</p>
<%= @wheels %>

<p>Motor</p>
<%= @motor %>

<p>Price</p>
<%= @price %>

<p>Audi Car</p>
<p>Wheels</p>
<%= @wheels2 %>

<p>Motor</p>
<%= @motor2 %>

<p>Price</p>
<%= @price2 %>